* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    height: 500px;
    width: 500px;
}