* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    width: 500px;
    background: linear-gradient(rgb(255, 222, 222), rgb(204, 195, 255));
    height: 100vh;
    gap: 25px;
}

#container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    height: 500px;
    width: 500px;
}

/* .grid-item {
    background-color: white;
} */

.select-btn {
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 100px;
    border-radius: 10px;
    background: linear-gradient(white, lightgray);
}